:root {
  --pink: #ff3a85;
  --item: #282828;
  --putih: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(../static/img/bg-home.svg);
}

/* navbar */
.navbar {
  background-image: url(../static/img/bg-navbar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  padding: 1.4rem 7%;
}

.book-button {
  background-color: var(--item);
  color: var(--putih);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 8px 20px;
  border: 0;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
}

.book-button:hover {
  background-color: var(--pink);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:hover {
  background-color: var(--item);
  transition: 0.5s;
  border-radius: 20%;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: var(--putih);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--pink);
}

@media (max-width: 992px) {
  .d-lg-block {
    display: none !important;
  }
  .d-lg-none {
    display: block !important;
  }
}

/* home */
.section-home .container .row {
  margin-top: 5rem;
  position: relative;
}

.icon-person {
  position: relative;
  top: 10rem;
}

.moto {
  margin-right: 5rem;
}

.btn-pesan {
  background-color: #cc004e;
  color: var(--putih);
  border-radius: 0.5rem;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-decoration: none;
  margin-right: 10rem;
  transition: all 0.3s ease-in-out;
}

.btn-pesan:hover {
  background-color: var(--putih);
  color: var(--pink);
}

.responsive-img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1212px) {
  .section-home .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-person {
    position: static;
    margin-top: 2rem;
  }

  .moto {
    margin-right: 0;
  }

  .btn-pesan {
    margin-right: 0;
    margin-bottom: 2rem;
    padding: 6px 15px;
    font-size: 24px;
  }

  .isian {
    max-width: 70%;
  }
}

/* about section */
.section-about {
  margin-top: 10rem;
  background-image: url(../static/img/bg-pink.svg);
}

.about {
  color: var(--item);
  font-size: 24px;
  font-weight: bold;
}

.text-about {
  color: var(--pink);
  -webkit-text-stroke: 4px black;
  font-weight: 1000;
  font-size: 55px;
}

/* logophi section */
.logo-phi {
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.text-logophi {
  color: black;
  -webkit-text-stroke: 3px var(--pink);
  font-weight: 1000;
  font-size: 50px;
  font-style: italic;
}

/* services section */
#service {
  background: url(../static/img/bg-pink.svg);
  padding: 100px 0;
}

.service-icon {
  margin-top: 5rem;
}

.text-stroke {
  color: var(--pink);
  -webkit-text-stroke: 4px black;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 36px;
}

.row-services {
  margin-top: 2rem;
}

.circle-services {
  border-radius: 50%;
  padding-top: 100%;

  position: relative;
  background-color: var(--pink);
}

.rounded-col-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-icon {
  background-color: var(--putih);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#color-icon {
  color: var(--item);
}

.text-service {
  font-family: 'Poppins', sans-serif;
  margin-top: 2.5rem;
  font-size: 26px;
  font-weight: 800;
  -webkit-text-stroke: 2px black;
}

/* talent section */
#talent {
  padding: 100px 0;
}

.bg-talent {
  background: url(../static/img/bg-pink.svg);
  border-radius: 10%;
  padding: 1rem;
}

.text-stroke-pink {
  color: black;
  -webkit-text-stroke: 4px #ff3a85;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 36px;
}

.person-talent {
  margin-top: 3rem;
}

.icon-person-talent {
  width: 200px;
  border-radius: 50%;
}

.text-talent {
  color: var(--putih);
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 2.5rem;
  font-size: 24px;
  font-weight: 800;
  -webkit-text-stroke: 2px black;
}

.text-talent-two {
  color: var(--putih);
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}

.btn-book-talent {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  background-color: #cc004e;
  color: var(--putih);
  border: 0;
  border-radius: 0.5rem;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.btn-book-talent:hover {
  color: var(--pink);
  background-color: var(--putih);
}

/* pricelist */
.section-pricelist {
  background-image: url(../static/img/bg-pink.svg);
  background-size: cover;
  padding: 80px 0;
}

.text-pricelist {
  color: var(--pink);
  -webkit-text-stroke: 4px black;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 55px;
}

/* hair style */
.text-style {
  color: black;
  -webkit-text-stroke: 4px var(--pink);
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 55px;
}

.section-style .card {
  background-color: var(--pink);
  border-radius: 20px;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-style .card {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.swiper-slide {
  border-radius: 20px;
}

.prev-btn,
.next-btn {
  color: var(--item);
  font-weight: bolder;
}

/* testimoni */
#testimoni {
  background: url(../static/img/bg-pink.svg);
  padding: 100px 0;
}

.card-testi {
  background: var(--item);
  padding: 1rem;
  border-radius: 5%;
}

.containt-testi {
  margin-top: 3rem;
}

.text-testi {
  padding: 0.2rem;
  font-size: 15px;
  font-weight: bold;
  color: var(--putih);
  -webkit-text-stroke: 1px black;
  font-family: 'Poppins', sans-serif;
}

.stars {
  display: flex;
  color: #ffcf23;
  padding: 0.2rem;
}

.btn-testi {
  background-color: #cc004e;
  color: var(--putih);
  border: 0;
  border-radius: 0.5rem;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.btn-testi:hover {
  background-color: var(--putih);
  color: var(--pink);
}

/* input testi */
#input-testi {
  padding: 80px 0;
}

.text-input-testi {
  color: black;
  -webkit-text-stroke: 2.5px #ff3a85;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 1000;
}

.input-testimoni {
  border-radius: 5%;
  background-color: #414141;
  padding: 80px;
  font-weight: bold;
  color: var(--putih);
}

.star-testi {
  color: #484848;
}

.input-testimoni h1 {
  margin-bottom: 20px;
  color: var(--putih);
  -webkit-text-stroke: 2.5px #cc004e;
  font-size: 32px;
  font-weight: 1000;
}
/* post */
#post {
  padding: 100px 0;
  background: url(../static/img/bg-home.svg);
}

.text-post {
  margin-top: 40px;
  color: black;
  -webkit-text-stroke: 4px #ff3a85;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 64px;
}

.text-post-1 {
  color: black;
  -webkit-text-stroke: 4px #ff3a85;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 64px;
}
.text-post-2 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: var(--putih);
  -webkit-text-stroke: 1px black;
  font-family: 'Poppins', sans-serif;
}

.text-post-3 {
  margin-top: 200px;
  font-size: 24px;
  font-weight: bold;
  color: var(--putih);
  -webkit-text-stroke: 1px black;
  font-family: 'Poppins', sans-serif;
}

.row a {
  color: var(--putih);
}

.row a:hover {
  color: var(--pink);
}
/* location */
.section-location {
  background-image: url(../static/img/bg-pink.svg);
}

.text-location {
  color: var(--pink);
  -webkit-text-stroke: 4px black;
  font-weight: 1000;
  font-size: 55px;
}

/* FAQ */
#FAQ {
  padding: 80px 0;
}

.text-faq-1 {
  color: var(--putih);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.text-faq-2 {
  color: black;
  -webkit-text-stroke: 3px #ff3a85;
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  font-weight: 1000;
}

.accordion-button {
  color: var(--putih);
  background-color: var(--pink);
}

.accordion-item {
  color: var(--pink);
  background-color: var(--putih);
}

/* footer */
.footer {
  color: white;
}

.logo-sosmed button {
  background-color: var(--pink);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.faq {
  color: #cc004e;
}

@media (max-width: 576px) {
  .logo-sosmed {
    flex-direction: column;
  }

  .logo-sosmed a {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .footer .col {
    flex-basis: 100%;
  }

  .rating {
    float: left;
    border: none;
  }
  .rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
  }
  .rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
  }
  .rating:not(:checked) > label:before {
    content: '★ ';
  }
  .rating > input:checked ~ label {
    color: #f70;
  }
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: gold;
  }
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
  }
  .rating > label:active {
    position: relative;
  }
}
