:root {
    --pinkbutton: #AD114C;
    --darkgrey: #282828;
    --putih: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    background: url(../static/img/bg-home.svg);
}

.navbar {
    background-image: url(../static/img/bg-navbar.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    padding: 1.4rem 7%;
}

.right-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(122, 0, 59, 0.39);
    backdrop-filter: blur(10px);
    z-index: 2;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: var(--putih);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1.4rem 5rem;
}

.right-box .btn {
    background-color: var(--pinkbutton);
    color: var(--putih);
    width: 100%;
    margin-bottom: 0.5rem;
}


#person-icon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    z-index: 3;
}

@media (max-width: 768px) {
    .right-box {
        width: 100%;
        border-radius: 0;
    }

    #person-icon {
        width: 70%;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {
    .right-box {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .btn {
        margin-bottom: 0.3rem;
        font-size: 14px;
    }
}