:root {
  --pinkbutton: #ad114c;
  --darkgrey: #282828;
  --putih: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(../static/img/bg-home.svg);
}

.navbar {
  background-image: url(../static/img/bg-navbar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  padding: 1.4rem 7%;
}

/* login section */
.content-wrapper {
  width: 400px;
}

.left-box {
  position: fixed;
  top: 0;
  left: 0;
  /* border: 1px solid white; */
  height: 35%;
  width: 40%;
  z-index: 1;
}

.left-box img {
  margin-top: 15rem;
  width: 100%;
}

.right-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(122, 0, 59, 0.39);
  backdrop-filter: blur(10px);
  z-index: 2;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--putih);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-box .btn {
  background-color: var(--pinkbutton);
  color: var(--putih);
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0.5rem;
}

.btn:hover {
  background-color: var(--putih);
  color: var(--pinkbutton);
  transition: 0.3s;
}

.text-center h1 {
  font-weight: bold;
}

#person-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #f099ba;
  transition: 0.3s;
}

a:hover {
  color: #b85e81;
}

@media (max-width: 768px) {
  .right-box {
    width: 100%;
    border-radius: 0;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .left-box img {
    width: 50%;
    margin-top: 100%;
  }

  /* #person-icon {
    width: 70%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  } */
}

@media (max-width: 576px) {
  .right-box {
    padding: 20px;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .left-box img {
    width: 60%;
    margin-top: 100%;
    padding-top: 35%;
  }

  h1 {
    font-size: 24px;
  }

  .btn {
    margin-bottom: 0.3rem;
    font-size: 14px;
  }
}
