:root {
  --pink: #ff3a85;
  --item: #282828;
  --putih: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(../static/img/bg-home.svg);
  color: var(--putih);
}

/* navbar */
.navbar {
  background-image: url(../static/img/bg-navbar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  padding: 1.4rem 7%;
}

.book-button {
  background-color: var(--item);
  color: var(--putih);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 8px 20px;
  border: 0;
  border-radius: 50px;
  transition: 0.3s;
}

.book-button:hover {
  background-color: var(--pink);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:hover {
  background-color: var(--item);
  transition: 0.5s;
  border-radius: 20%;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: var(--putih);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--pink);
}

/* home section */
#home{
  height: 100vh;
  width: 100%;
}

.home-tagline p{
 margin-bottom: 30px;

}

.btn-pesan{
  background-color: #CC004E;
  color: var(--putih);
  border: 0;
  border-radius: 0.5rem;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  text-decoration: none;
}

.btn-pesan:hover{
  background-color: var(--putih);
  color: var(--pink);
}

.img-home{
  height: 80%;
}


/* serevices section */

.circle-services{
  border-radius: 50%;
  padding-top: 100%; 
  position: relative;
  background-color: var(--pink);
}

.rounded-col-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
