<div class="container">
    <div class="row">
      <div class="col-12 col-md-4 d-flex py-1">
        <div class="col">
          <div
            class="item d-flex justify-content-center align-items-center text-center"
          >
            <div class="text-number">
              <p>Total Boking Masuk</p>
              <hr class="custom-hr" />
              <p class="text-2"><span>8</span> orang</p>
            </div>
            <div class="icon-item">
              <ion-icon name="arrow-down"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 d-flex py-1">
        <div class="col">
          <div
            class="item d-flex justify-content-center align-items-center text-center"
          >
            <div class="text-number">
              <p>Selesai</p>
              <hr class="custom-hr" />
              <p class="text-2"><span>8</span> orang</p>
            </div>
            <div class="icon-item">
              <ion-icon name="checkmark-sharp"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 d-flex py-1">
        <div class="col">
          <div
            class="item d-flex justify-content-center align-items-center text-center"
          >
            <div class="text-number">
              <p>Cancel</p>
              <hr class="custom-hr" />
              <p class="text-2"><span>-</span> orang</p>
            </div>
            <div class="icon-item">
              <ion-icon name="close-sharp"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>