{% include 'sidebarSuperAdmin.html' %}

<!-- Table data -->
<div class="container">
  <div class="card card-table border-0 mt-5">
    <div class="card-header">
      <h3 class="card-title">Order History</h3>
      <h5 class="card-subtitle">
        <ion-icon name="calendar-number"></ion-icon>
        <span>Chose Date</span>
      </h5>
    </div>
    <div class="container">
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Orders</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ahsan Sarasvati</td>
            <td>Sat, 30 May 2024</td>
            <td>Hair cut, Perm</td>
            <td>Finished</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Ahsan Sarasvati</td>
            <td>Sat, 30 May 2024</td>
            <td>Hair cut, Perm</td>
            <td>Finished</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ahsan Sarasvati</td>
            <td>Sat, 30 May 2024</td>
            <td>Hair cut, Perm</td>
            <td>Unfinished</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Ahsan Sarasvati</td>
            <td>Sat, 30 May 2024</td>
            <td>Hair cut, Perm</td>
            <td>Finished</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'footerAdmin.html' %}
