{% include 'sidebarSuperAdmin.html' %}

<!-- Card person -->
<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-person d-flex">
          <div class="item-person-cuti">
            <div class="name-person-cuti mt-4 text-end">
              <span>Dede Kusnandar</span>
            </div>
            <div class="img-person-cuti">
              <img src="../static/img/ravit.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="item-text-cuti mt-3">
            <h5 class="text-center">Pengajuan Cuti</h5>
            <div class="item-text-cuti">
              <ion-icon
                class="item-text-item"
                name="calendar-clear-outline"
              ></ion-icon>
              <span class="item-text-item">Tanggal Cuti</span>
              <p class="text-item-text">13 - 16, May 2024</p>
              <ion-icon name="reader-outline"></ion-icon>
              <span class="item-text-item">Tindakan</span>
              <p class="text-item-text">Diterima</p>
            </div>
          </div>

          <div class="d-grid gap-1 d-flex justify-content-center mt-1 mb-2">
            <button class="btn-confirm-cuti me-md-2" type="button">
              Terima
            </button>
            <button class="btn-cancel-cuti" type="button">Tolak</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-person d-flex">
          <div class="item-person-cuti">
            <div class="name-person-cuti mt-4 text-end">
              <span>Dede Kusnandar</span>
            </div>
            <div class="img-person-cuti">
              <img src="../static/img/ravit.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="item-text-cuti mt-3">
            <h5 class="text-center">Pengajuan Cuti</h5>
            <div class="item-text-cuti">
              <ion-icon
                class="item-text-item"
                name="calendar-clear-outline"
              ></ion-icon>
              <span class="item-text-item">Tanggal Cuti</span>
              <p class="text-item-text">13 - 16, May 2024</p>
              <ion-icon name="reader-outline"></ion-icon>
              <span class="item-text-item">Tindakan</span>
              <p class="text-item-text">Diterima</p>
            </div>
          </div>

          <div class="d-grid gap-1 d-flex justify-content-center mt-1 mb-2">
            <button class="btn-confirm-cuti me-md-2" type="button">
              Terima
            </button>
            <button class="btn-cancel-cuti" type="button">Tolak</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-person d-flex">
          <div class="item-person-cuti">
            <div class="name-person-cuti mt-4 text-end">
              <span>Dede Kusnandar</span>
            </div>
            <div class="img-person-cuti">
              <img src="../static/img/ravit.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="item-text-cuti mt-3">
            <h5 class="text-center">Pengajuan Cuti</h5>
            <div class="item-text-cuti">
              <ion-icon
                class="item-text-item"
                name="calendar-clear-outline"
              ></ion-icon>
              <span class="item-text-item">Tanggal Cuti</span>
              <p class="text-item-text">13 - 16, May 2024</p>
              <ion-icon name="reader-outline"></ion-icon>
              <span class="item-text-item">Tindakan</span>
              <p class="text-item-text">Diterima</p>
            </div>
          </div>

          <div class="d-grid gap-1 d-flex justify-content-center mt-1 mb-2">
            <button class="btn-confirm-cuti me-md-2" type="button">
              Terima
            </button>
            <button class="btn-cancel-cuti" type="button">Tolak</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footerAdmin.html' %}
