{% include 'sidebarSuperAdmin.html' %}

<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-testi">
          <div class="card-text">
            <div class="card-item-testi d-flex">
              <div class="col-2">
                <img src="../static/img/icon-kutip.svg" alt="" />
              </div>
              <div class="col-10">
                <h4 class="text-talent">Ravit</h4>

                <p class="stars">⭐⭐⭐⭐⭐</p>

                <h5 class="text-testi mt-2">
                  Alhamdulillah so far selalu memuaskan dengan hasil
                  potongannya. selalu ada diskusi dan masukan untuk mendapatkan
                  hasil yang diinginkan.
                </h5>
              </div>
            </div>
            <div class="choice text-center mt-3">
              <a href="#">
                <ion-icon class="icon-testi add" name="add-circle"></ion-icon>
              </a>
              <span class="icon-testi">|</span>
              <a href="#">
                <ion-icon class="icon-testi trash" name="trash"></ion-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-testi">
          <div class="card-text">
            <div class="card-item-testi d-flex">
              <div class="col-2">
                <img src="../static/img/icon-kutip.svg" alt="" />
              </div>
              <div class="col-10">
                <h4 class="text-talent">Ravit</h4>

                <p class="stars">⭐⭐⭐⭐⭐</p>

                <h5 class="text-testi mt-2">
                  Alhamdulillah so far selalu memuaskan dengan hasil
                  potongannya. selalu ada diskusi dan masukan untuk mendapatkan
                  hasil yang diinginkan.
                </h5>
              </div>
            </div>
            <div class="choice text-center mt-3">
              <a href="#">
                <ion-icon class="icon-testi add" name="add-circle"></ion-icon>
              </a>
              <span class="icon-testi">|</span>
              <a href="#">
                <ion-icon class="icon-testi trash" name="trash"></ion-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-testi">
          <div class="card-text">
            <div class="card-item-testi d-flex">
              <div class="col-2">
                <img src="../static/img/icon-kutip.svg" alt="" />
              </div>
              <div class="col-10">
                <h4 class="text-talent">Ravit</h4>

                <p class="stars">⭐⭐⭐⭐⭐</p>

                <h5 class="text-testi mt-2">
                  Alhamdulillah so far selalu memuaskan dengan hasil
                  potongannya. selalu ada diskusi dan masukan untuk mendapatkan
                  hasil yang diinginkan.
                </h5>
              </div>
            </div>
            <div class="choice text-center mt-3">
              <a href="#">
                <ion-icon class="icon-testi add" name="add-circle"></ion-icon>
              </a>
              <span class="icon-testi">|</span>
              <a href="#">
                <ion-icon class="icon-testi trash" name="trash"></ion-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="collection-testimonial col-md-6 col-sm-6 col-xs-6 text-center mx-auto">
      <button class="btn btn-collection" type="button">Push Testimonial</button>
      
    </div>

  </div>
</div>
{% include 'footerAdmin.html' %}
