{% include 'sidebarAdmin.html' %}
<!-- card booking -->
<div class="container">
<div class="row">
  <div class="col-12 col-md-4 d-flex py-1">
    <div class="col">
      <div class="item-person d-flex justify-content-center align-items-center mt-3">
        <div class="item-identity-1">
          <div class="name">
            Dede Kusnandar
            <span><ion-icon name="person"></ion-icon></span>
          </div>
          <div class="number">
            085659775973
            <span><ion-icon name="call"></ion-icon></span>
          </div>
          <div class="email">
            Dekus@gmail.com
            <span><ion-icon name="mail"></ion-icon></span>
          </div>
        </div>

        <div class="item-identity-2 mt-2">
          <table class="d-flex justify-content-center align-items-center">
            <tr>
              <td>Service</td>
              <td>:</td>
              <td>Perm</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>:</td>
              <td>12/05/2024</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>:</td>
              <td>13:00</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>:</td>
              <td>Success</td>
            </tr>
          </table>
        </div>

        <div class="d-grid gap-2 d-flex justify-content-center mt-1">
          <button class="btn-confirm " type="button">Confirm</button>
          <button class="btn-cancel" type="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 d-flex py-1">
    <div class="col">
      <div class="item-person d-flex justify-content-center align-items-center mt-3">
        <div class="item-identity-1">
          <div class="name">
            Dede Kusnandar
            <span><ion-icon name="person"></ion-icon></span>
          </div>
          <div class="number">
            085659775973
            <span><ion-icon name="call"></ion-icon></span>
          </div>
          <div class="email">
            Dekus@gmail.com
            <span><ion-icon name="mail"></ion-icon></span>
          </div>
        </div>

        <div class="item-identity-2 mt-2">
          <table class="d-flex justify-content-center align-items-center">
            <tr>
              <td>Service</td>
              <td>:</td>
              <td>Perm</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>:</td>
              <td>12/05/2024</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>:</td>
              <td>13:00</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>:</td>
              <td>Success</td>
            </tr>
          </table>
        </div>

        <div class="d-grid gap-2 d-flex justify-content-center mt-1">
          <button class="btn-confirm " type="button">Confirm</button>
          <button class="btn-cancel" type="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 d-flex py-1">
    <div class="col">
      <div class="item-person d-flex justify-content-center align-items-center mt-3">
        <div class="item-identity-1">
          <div class="name">
            Dede Kusnandar
            <span><ion-icon name="person"></ion-icon></span>
          </div>
          <div class="number">
            085659775973
            <span><ion-icon name="call"></ion-icon></span>
          </div>
          <div class="email">
            Dekus@gmail.com
            <span><ion-icon name="mail"></ion-icon></span>
          </div>
        </div>

        <div class="item-identity-2 mt-2">
          <table class="d-flex justify-content-center align-items-center">
            <tr>
              <td>Service</td>
              <td>:</td>
              <td>Perm</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>:</td>
              <td>12/05/2024</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>:</td>
              <td>13:00</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>:</td>
              <td>Success</td>
            </tr>
          </table>
        </div>

        <div class="d-grid gap-2 d-flex justify-content-center mt-1">
          <button class="btn-confirm " type="button">Confirm</button>
          <button class="btn-cancel" type="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 d-flex py-1">
    <div class="col">
      <div class="item-person d-flex justify-content-center align-items-center mt-3">
        <div class="item-identity-1">
          <div class="name">
            Dede Kusnandar
            <span><ion-icon name="person"></ion-icon></span>
          </div>
          <div class="number">
            085659775973
            <span><ion-icon name="call"></ion-icon></span>
          </div>
          <div class="email">
            Dekus@gmail.com
            <span><ion-icon name="mail"></ion-icon></span>
          </div>
        </div>

        <div class="item-identity-2 mt-2">
          <table class="d-flex justify-content-center align-items-center">
            <tr>
              <td>Service</td>
              <td>:</td>
              <td>Perm</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>:</td>
              <td>12/05/2024</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>:</td>
              <td>13:00</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>:</td>
              <td>Success</td>
            </tr>
          </table>
        </div>

        <div class="d-grid gap-2 d-flex justify-content-center mt-1">
          <button class="btn-confirm " type="button">Confirm</button>
          <button class="btn-cancel" type="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% include 'footerAdmin.html' %}
