{% include 'sidebarSuperAdmin.html' %}

<div class="container">
  <div class="add-users d-flex d-flex justify-content-end mt-4">
    <span>
      <a href="/super_admin/add_users">
        <ion-icon name="person-add"></ion-icon>
      </a>
    </span>
  </div>
</div>
<!-- Card person -->
<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-person d-flex">
          <div class="item-person-cuti">
            <div class="name-person-cuti mt-4 text-end">
              <span>Dede Kusnandar</span>
            </div>
            <div class="img-person-cuti">
              <img src="../static/img/ravit.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="item-text-cuti mt-3">
            <div class="item-text-cuti">
              <ion-icon name="person-outline"></ion-icon>
              <span class="item-text-item">Nama</span>
              <p class="text-item-text">Dede Kusnandar</p>
              <hr />

              <ion-icon name="mail-outline"></ion-icon>
              <span class="item-text-item">Email</span>
              <p class="text-item-text">Dekus@gmail.com</p>
              <hr />

              <ion-icon name="logo-whatsapp"></ion-icon>
              <span class="item-text-item">No.Whatsapp</span>
              <p class="text-item-text">08766786543</p>
              <hr />

              <ion-icon name="shield-checkmark-outline"></ion-icon>
              <span class="item-text-item">Status</span>
              <p class="text-item-text">Aktif</p>
              <hr />

              <ion-icon name="logo-usd"></ion-icon>
              <span class="item-text-item">Service Price</span>
              <p class="text-item-text">Rp.55.000</p>
              <hr />
            </div>
          </div>

          <div
            class="d-flex justfy-content-center align-items-center text-center"
          ></div>

          <div class="item-icon-testi text-center mt-1 mb-2">
            <a href=""
              ><ion-icon class="icon-user edit" name="pencil"></ion-icon
            ></a>
            <span class="icon-user">|</span>
            <a class="icon-user delete" href=""
              ><ion-icon name="trash"></ion-icon
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-person d-flex">
          <div class="item-person-cuti">
            <div class="name-person-cuti mt-4 text-end">
              <span>Dede Kusnandar</span>
            </div>
            <div class="img-person-cuti">
              <img src="../static/img/ravit.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="item-text-cuti mt-3">
            <div class="item-text-cuti">
              <ion-icon name="person-outline"></ion-icon>
              <span class="item-text-item">Nama</span>
              <p class="text-item-text">Dede Kusnandar</p>
              <hr />

              <ion-icon name="mail-outline"></ion-icon>
              <span class="item-text-item">Email</span>
              <p class="text-item-text">Dekus@gmail.com</p>
              <hr />

              <ion-icon name="logo-whatsapp"></ion-icon>
              <span class="item-text-item">No.Whatsapp</span>
              <p class="text-item-text">08766786543</p>
              <hr />

              <ion-icon name="shield-checkmark-outline"></ion-icon>
              <span class="item-text-item">Status</span>
              <p class="text-item-text">Aktif</p>
              <hr />

              <ion-icon name="logo-usd"></ion-icon>
              <span class="item-text-item">Service Price</span>
              <p class="text-item-text">Rp.55.000</p>
              <hr />
            </div>
          </div>

          <div
            class="d-flex justfy-content-center align-items-center text-center"
          ></div>

          <div class="item-icon-testi text-center mt-1 mb-2">
            <a href=""
              ><ion-icon class="icon-user edit" name="pencil"></ion-icon
            ></a>
            <span class="icon-user">|</span>
            <a class="icon-user delete" href=""
              ><ion-icon name="trash"></ion-icon
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex py-1">
      <div class="col">
        <div class="item-person d-flex">
          <div class="item-person-cuti">
            <div class="name-person-cuti mt-4 text-end">
              <span>Dede Kusnandar</span>
            </div>
            <div class="img-person-cuti">
              <img src="../static/img/ravit.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="item-text-cuti mt-3">
            <div class="item-text-cuti">
              <ion-icon name="person-outline"></ion-icon>
              <span class="item-text-item">Nama</span>
              <p class="text-item-text">Dede Kusnandar</p>
              <hr />

              <ion-icon name="mail-outline"></ion-icon>
              <span class="item-text-item">Email</span>
              <p class="text-item-text">Dekus@gmail.com</p>
              <hr />

              <ion-icon name="logo-whatsapp"></ion-icon>
              <span class="item-text-item">No.Whatsapp</span>
              <p class="text-item-text">08766786543</p>
              <hr />

              <ion-icon name="shield-checkmark-outline"></ion-icon>
              <span class="item-text-item">Status</span>
              <p class="text-item-text">Aktif</p>
              <hr />

              <ion-icon name="logo-usd"></ion-icon>
              <span class="item-text-item">Service Price</span>
              <p class="text-item-text">Rp.55.000</p>
              <hr />
            </div>
          </div>

          <div
            class="d-flex justfy-content-center align-items-center text-center"
          ></div>

          <div class="item-icon-testi text-center mt-1 mb-2">
            <a href=""
              ><ion-icon class="icon-user edit" name="pencil"></ion-icon
            ></a>
            <span class="icon-user">|</span>
            <a class="icon-user delete" href=""
              ><ion-icon name="trash"></ion-icon
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footerAdmin.html' %}
